<nav class="top-nav">
    <a class="nav-brand" href="">LLM Think Tank</a>
    <div class="nav-tabs">
        <NavLink class="settings-tab nav-tab" href="" Match="NavLinkMatch.All">Home</NavLink>
        <NavLink class="settings-tab nav-tab" href="thinktank">Conversations</NavLink>
        <NavLink class="settings-tab nav-tab" href="settings">Settings</NavLink>
    </div>
</nav>
