@page "/"

<div class="thinktank-container">
    <div class="setup-panel">
        <div class="settings-row">
            <a class="start-btn" href="thinktank">Open Think Tank</a>
            <a class="reset-btn" href="settings">Settings</a>
        </div>
    </div>
</div>
