<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LLM Think Tank</title>
    <base href="/" />
    <link rel="stylesheet" href="_content/LLMThinkTank.Shared/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="_content/LLMThinkTank.Shared/app.css" />
    <link rel="stylesheet" href="LLMThinkTank.Blazor.styles.css" />
    <link rel="icon" href="data:," />
    <HeadOutlet @rendermode="InteractiveServer" />
</head>
<body>
    <Routes @rendermode="InteractiveServer" />
    <script src="_content/LLMThinkTank.Shared/theme.js"></script>
    <script src="_framework/blazor.web.js"></script>
</body>
</html>
